{% extends 'layouts/application.html' %}

{% block content %}
  {% include 'shared/components/header.html' %}

  <div class="l-page visible-grids">
    <main class="l-main" role="main">
      {% include 'shared/components/carousel-section.html' %}

      {% include 'shared/components/searchbar.html' %}

      {% include 'shared/components/main-section.html' %}

      {% include 'shared/components/sub-section.html' %}        
    </main>
  </div>

  {% include 'shared/components/footer.html' %}
{% endblock %}
