{% extends 'layouts/application.html' %}

{% block content %}
  <header class="l-header" role="banner">
    <nav class="l-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#" id="sidebar-trigger">Sidebar</a></li>
      </ul>
    </nav>
  </header>

  <div class="l-page visible-grids">
    <main class="l-main" role="main">
      <div class="container">
        <section class="section section--main">
          <div class="row">
            <div class="col   col-12">
              <div class="card">
                <img src="" alt="" class="card__image">

                <div class="card__details">
                  <h3 class="card__title">Group booking?</h3>
                  <p class="card__summary">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commod...</p>
                  <a href="#" class="card__button button">Learn more</a>
                </div>
              </div>
            </div>

            <div class="col   col-12">
              <div class="card">
                <img src="" alt="" class="card__image">

                <div class="card__details">
                  <h3 class="card__title">Order a brochure</h3>
                  <p class="card__summary">Rulla ligula sapien, congue vel semper at viverra in lorem.</p>
                  <a href="#" class="card__button button">Request a brochure</a>
                </div>
              </div>
            </div>

            <div class="col   col-12">
              <div class="card">
                <img src="" alt="" class="card__image">

                <div class="card__details">
                  <h3 class="card__title">Newsletter sign-up</h3>
                  <p class="card__summary">Rulla ligula sapien, congue vel semper at viverra in lorem.</p>
                  <input type="email" name="email" placeholder="Enter your email address" value="" class="form-field card__input">
                  <div>
                    <a href="#" class="card__link">Read our Privacy Policy</a>
                    <a href="#" class="card__button button">Sign up</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col   col-12">
              <div class="card">
                <img src="" alt="" class="card__image">

                <div class="card__details">
                  <h3 class="card__title">Morbi varius sem</h3>
                  <p class="card__summary">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commod...</p>
                  <div class="card__sticky-bottom">
                    <a href="#" class="card__button button">Play now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="container-fuid">
        <section class="section section--sub">
        
        </section>
      </div>
        
    </main>
  </div>

  <footer class="l-footer" role="contentinfo">
    Footer
  </footer>
{% endblock %}
