{% extends 'layouts/application.html' %}

{% block content %}
  <header class="l-header" role="banner">
    <nav class="l-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#" id="sidebar-trigger">Sidebar</a></li>
      </ul>
    </nav>
  </header>

  <div class="l-page">
    <main class="l-main" role="main">
      <section>
        <ul class="product-grid">
          <li class="product-grid-item">
            <a href="#" class="product-grid-item__link">
              <div class="product-grid-item__img" style="background-image: url('images/thumbnails/thumbnail-01.jpg');"></div>
              <h2 class="product-grid-item__title">Vlisco</h2>
              <span class="product-grid-item__text">E-commerce with a colourful story</span>
            </a>
          </li>

          <li class="product-grid-item">
            <a href="#" class="product-grid-item__link">
              <div class="product-grid-item__img" style="background-image: url('images/thumbnails/thumbnail-02.jpg');"></div>
              <h2 class="product-grid-item__title">Copenhagen Airports</h2>
              <span class="product-grid-item__text">Knowing your customer in the digital age</span>
            </a>
          </li>

          <li class="product-grid-item">
            <a href="#" class="product-grid-item__link">
              <div class="product-grid-item__img" style="background-image: url('images/thumbnails/thumbnail-03.jpg');"></div>
              <h2 class="product-grid-item__title">TV4 Play</h2>
              <span class="product-grid-item__text">From TV channel to leading content provider</span>
            </a>
          </li>

          <li class="product-grid-item">
            <a href="#" class="product-grid-item__link">
              <div class="product-grid-item__img" style="background-image: url('images/thumbnails/thumbnail-04.jpg');"></div>
              <h2 class="product-grid-item__title">Audi City</h2>
              <span class="product-grid-item__text">How to purchase a real car in a virtual store</span>
            </a>
          </li>

          <li class="product-grid-item">
            <a href="#" class="product-grid-item__link">
              <div class="product-grid-item__img" style="background-image: url('images/thumbnails/thumbnail-05.jpg');"></div>
              <h2 class="product-grid-item__title">Arla Foods</h2>
              <span class="product-grid-item__text">Dairy production in Big Data</span>
            </a>
          </li>

          <li class="product-grid-item">
            <a href="#" class="product-grid-item__link">
              <div class="product-grid-item__img" style="background-image: url('images/thumbnails/thumbnail-06.jpg');"></div>
              <h2 class="product-grid-item__title">Xylem</h2>
              <span class="product-grid-item__text">Helping the world's largest water technology provider solve the global water crisis through Business Transformation</span>
            </a>
          </li>
        </ul>
      </section>
    </main>

    <aside id="sidebar" class="l-sidebar" role="complementary">
      <div class="sidebar-contents">
        <br>
        Sidebar
      </div>
    </aside>
  </div>

  <footer class="l-footer" role="contentinfo">
    Footer
  </footer>
{% endblock %}
