<section class="section section--carousel">
  <div class="container-fluid">
    <div class="carousel">
      <ul class="carousel__items">
        <li class="carousel__item">
          <img src="images/hero.jpg" alt="A very happy family" >
        </li>
      </ul>

      <div class="container banner-wrapper">
        <div class="row">
          <div class="col   col-xs-32   col-sm-30   col-lg-22   col-xl-19">
            <div class="banner">
              <div class="banner__head">
                <h4 class="banner__title">Amazing summer holiday deals</h4>
              </div>
              <div class="banner__body">
                <span class="banner__text">Holidays from - £379</span>
                <span class="banner__text">Short breaks from - £249</span>
                <a href="#" class="button button--blue banner__button">View offer</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>