<header class="l-header" role="banner">
  <div class="container mini-menu-wrapper">
    <div class="mini-menu">
      <div class="quick-search-wrapper">
        <div class="row">
          <div class="col col-44 offset-2   col-sm-36 offset-sm-6   col-lg-12 offset-lg-36">
            <div class="quick-search">
              <input type="text" name="search">
              <i>{% include 'shared/icons/_icon_08.svg.html' %}</i>
            </div>
          </div>
        </div>
      </div>

      <nav class="auth-menu-wrapper" role="navigation">
        <div class="row">
          <div class="col col-44 offset-2   col-sm-36 offset-sm-6   col-lg-12 offset-lg-36">
            <ul class="auth-menu">
              <li><a href="#">Login</a> |</li>
              <li><a href="#">Register</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <nav class="l-nav" role="navigation">
    <div class="container main-menu-wrapper">
      <ul class="main-menu">
        <li>
          <a href="#" class="icon-button icon-button--one ">
            <i>{% include 'shared/icons/_icon_01.svg.html' %}</i>
            <span>One</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon-button icon-button--two ">
            <i>{% include 'shared/icons/_icon_02.svg.html' %}</i>
            <span>Two</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon-button icon-button--three ">
            <i>{% include 'shared/icons/_icon_03.svg.html' %}</i>
            <span>Three</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon-button icon-button--four ">
            <i>{% include 'shared/icons/_icon_04.svg.html' %}</i>
            <span>Four</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>