<header class="l-header" role="banner">
  <nav class="l-nav" role="navigation">
    <div class="container main-menu-wrapper">
      <ul class="main-menu">
        <li>
          <a href="#" class="icon-button icon-button--one ">
            <i>{% include 'shared/icons/_icon_01.svg.html' %}</i>
            <span>One</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon-button icon-button--two ">
            <i>{% include 'shared/icons/_icon_02.svg.html' %}</i>
            <span>Two</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon-button icon-button--three ">
            <i>{% include 'shared/icons/_icon_03.svg.html' %}</i>
            <span>Three</span>
          </a>
        </li>
        <li>
          <a href="#" class="icon-button icon-button--four ">
            <i>{% include 'shared/icons/_icon_04.svg.html' %}</i>
            <span>Four</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>