<section class="section section--main">
  <div class="container-fuid">
    <div class="container">
      <div class="row row-of-cards">
        <div class="col   col-46   col-md-24   col-lg-12   mx-auto">
          <div class="card">
            <div class="card__image"></div>

            <div class="card__details">
              <h3 class="card__title">Group booking?</h3>
              <p class="card__summary">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commod...</p>
            </div>

            <div class="card__footer">
              <a href="#" class="card__button button">Learn more</a>
            </div>
          </div>
        </div>

        <div class="col   col-46   col-md-24   col-lg-12   mx-auto">
          <div class="card">
            <div class="card__image"></div>

            <div class="card__details">
              <h3 class="card__title">Order a brochure</h3>
              <p class="card__summary">Rulla ligula sapien, congue vel semper at viverra in lorem.</p>
            </div>

            <div class="card__footer">
              <a href="#" class="card__button button">Request a brochure</a>
            </div>
          </div>
        </div>

        <div class="col   col-46   col-md-24   col-lg-12   mx-auto">
          <div class="card">
            <div class="card__image"></div>

            <div class="card__details">
              <h3 class="card__title">Newsletter sign-up</h3>
              <p class="card__summary">Rulla ligula sapien, congue vel semper at viverra in lorem.</p>
              <input type="email" name="email" placeholder="Enter your email address" value="" class="form-field card__input">
            </div>

            <div class="card__footer">
              <a href="#" class="card__link">Read our Privacy Policy</a>
              <a href="#" class="card__button button">Sign up</a>
            </div>
          </div>
        </div>

        <div class="col   col-46   col-md-24   col-lg-12   mx-auto">
          <div class="card">
            <div class="card__image"></div>

            <div class="card__details">
              <h3 class="card__title">Morbi varius sem</h3>
              <p class="card__summary">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commod...</p>
            </div>

            <div class="card__footer">
              <a href="#" class="card__button button">Play now</a>
            </div>
          </div>
        </div>
      </div>

      <div class="subsection">
        <div class="row">
          <div class="col   col-46  offset-1   col-md-48   col-lg-31 offset-md-0">
            <div class="video-embed">
              <iframe src="//youtube.com/embed/{{ videos.youtube_test }}?&rel=0&showinfo=0&loop=0&controls=1" frameborder="0" allowfullscreen title="Embedded video"></iframe>
            </div>
          </div>
          <div class="col   col-36   col-sm-30   col-lg-15   mx-auto" style="padding-left: 50px;">
            <blockquote class="quote">
              <span class="quote__text">
                <span>
                  <span class="quote__mark quote__mark--left">&ldquo;</span>
                </span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vulputate commodo erat a ultricies. Donec pretium fermentum velit
                <span>
                  <span class="quote__mark quote__mark--right">&rdquo;</span>
                </span>
              <span class="quote__author">Aliquam dignissim aliquet diam</span>
            </blockquote>
            <a href="#" class="button">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>