<div class="container-fuid searchbar-wrapper">
  <div class="searchbar">
    <div class="searchbar__form">
        <form action="#">
          <div class="searchbar__top">
            <div class="container">
              <span class="searchbar__form-title">I am looking for</span>

              <div class="form-field-wrapper form-field-wrapper--inline">
                <input type="radio" id="bubble1" name="radio-group" checked>
                <label for="bubble1">A caravan holiday</label>
              </div>
              
              <div class="form-field-wrapper form-field-wrapper--inline">
                <input type="radio" id="bubble2" name="radio-group">
                <label for="bubble2">A touring pitch for my caravan</label>
              </div>

              <div class="form-field-wrapper form-field-wrapper--inline">
                <input type="radio" id="bubble3" name="radio-group">
                <label for="bubble3">A camping holiday</label>
              </div>

              <div class="form-field-wrapper form-field-wrapper--inline">
                <input type="radio" id="bubble4" name="radio-group">
                <label for="bubble4">A caravan to buy</label>
              </div>
            </div>
          </div>

          <div class="searchbar__bottom">
            <div class="container">
              <div class="searchbar__dropdowns">
                <div class="row">
                  <div class="col   col-46   col-md-24   col-lg-8   mx-auto" style="z-index: 4;">
                    <div class="form-field-wrapper form-field-wrapper--inline">
                      <span class="form-field__title">Choose a Park</span>
                      <div id="dd1" class="dropdown">
                        Please select
                        <ul class="dropdown__list">
                          <li><a href="#">All</a></li>
                          <li><a href="#">Some</a></li>
                          <li><a href="#">None</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col   col-46   col-md-24   col-lg-6   mx-auto" style="z-index: 3;">
                    <div class="form-field-wrapper form-field-wrapper--inline">
                      <span class="form-field__title">When</span>
                      <div id="dd2" class="dropdown">
                        Select a date
                        <ul class="dropdown__list">
                          <li><a href="#">1 night</a></li>
                          <li><a href="#">2 nights</a></li>
                          <li><a href="#">3 nights</a></li>
                          <li><a href="#">4 nights</a></li>
                          <li><a href="#">5 nights</a></li>
                          <li><a href="#">6 nights</a></li>
                          <li><a href="#">7 nights</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                
                  <div class="col   col-46   col-md-24   col-lg-6   mx-auto" style="z-index: 2;">
                    <div class="form-field-wrapper form-field-wrapper--inline">
                      <span class="form-field__title">Duration</span>
                      <div id="dd2" class="dropdown">
                        Please select
                        <ul class="dropdown__list">
                          <li><a href="#">1 night</a></li>
                          <li><a href="#">2 nights</a></li>
                          <li><a href="#">3 nights</a></li>
                          <li><a href="#">4 nights</a></li>
                          <li><a href="#">5 nights</a></li>
                          <li><a href="#">6 nights</a></li>
                          <li><a href="#">7 nights</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col   col-46   col-md-24   col-lg-7   mx-auto" style="z-index: 1;">
                    <div class="form-field-wrapper form-field-wrapper--inline">
                      <span class="form-field__title">Accomodation</span>
                      <div id="dd3" class="dropdown">
                        Please select
                        <ul class="dropdown__list">
                          <li><a href="#">All</a></li>
                          <li><a href="#">Some</a></li>
                          <li><a href="#">None</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>  

                  <div class="col   col-46 offset-1   col-md-24 offset-md-0   col-lg-11 offset-lg-0">
                    <div class="form-field-wrapper form-field-wrapper--inline">
                      <span class="form-field__title">Where are you?</span>
                      <input type="text" name="postcode" placeholder="First 4 digits of postcode" value="" class="form-field form-field--light">
                    </div>
                  </div>

                  <div class="col   col-46   col-md-16   col-lg-10   mx-auto">
                    <a href="#" class="button button--big">Search Holidays</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form> 
      </div>
    </div>
  </div>
</div>
