<section class="section section--sub">
  <div class="container-fuid">
    <div class="container">
      <div class="row row-of-cards">
        <div class="col   col-46   col-lg-16   mx-auto">
          <div class="card card--large card--links">
            <h3 class="card__title">Top 5 questions being asked</h3>

            <div class="card__details">
              <p class="card__summary">
                <a href="#">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et?</a>
                <a href="#">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et?</a>
                <a href="#">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et?</a>
                <a href="#">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et?</a>
                <a href="#">Aenean euismod bibendum laoreet?</a>
              </p>
            </div>

            <div class="card__footer">
              <a href="#" class="card__button button">View all holiday questions</a>
            </div>
          </div>
        </div>

        <div class="col   col-46   col-lg-16   mx-auto">
          <div class="card card--large">
            <h3 class="card__title">Featured park</h3>

            <div class="card__image"></div>

            <div class="card__details">
              <p class="card__summary">Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo aoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo.</p>
            </div>

            <div class="card__footer">
              <a href="#" class="card__button button">View all holiday questions</a>
            </div>
          </div>
        </div>

        <div class="col   col-46   col-lg-16   mx-auto">
          <div class="card card--large">
            <h3 class="card__title">Upcoming availability</h3>

            <div class="minicard">
              <div class="row">
                <div class="col   col-12 offset-2 no-side-padding">
                  <div class="minicard__image"></div>
                </div>

                <div class="col   col-34">
                  <div class="minicard__details">
                    <h4 class="minicard__title">Quisque rutrum sem est</h4>
                    <span class="minicard__text">Sed lacus metus</span>
                    <span class="minicard__text-2">Donec commodo</span>
                    <span class="minicard__price">£99</span>
                    <a href="#" class="minicard__link">Learn more</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="minicard">
              <div class="row">
                <div class="col   col-12 offset-2 no-side-padding">
                  <div class="minicard__image"></div>
                </div>

                <div class="col   col-34">
                  <div class="minicard__details">
                    <h4 class="minicard__title">Quisque rutrum sem est</h4>
                    <span class="minicard__text">Sed lacus metus</span>
                    <span class="minicard__text-2">Donec commodo</span>
                    <span class="minicard__price">£99</span>
                    <a href="#" class="minicard__link">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>