.card {
  color: #333333;
  border: 1px solid #cccccc;
  padding-bottom: 20px;

  @include media("<lg") {
    margin-bottom: 30px;
  }
}

.card__image {
  background: #cccccc;
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 47.77%;
}

.card__details {
  position: relative;
  display: block;
  padding: 10px 15px 0;
  min-height: 140px;
}

.card__footer {
  padding: 0 15px 0;

  @include clearfix;

  .card__link + .card__button {
    float: right;
  }
}

.card__title {
  @include font(16px, 26px);
  font-family: $bold-font;
  margin: 0;
}

.card__summary {
  @include font(12px, 22px);
  margin-bottom: 0;
}

.card__button {
  
}

.card__input {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.card__link {
  @include font(10px, 20px);
  font-family: $regular-font;
  text-decoration: underline;
  color: #666666;
}