/* DEMO 5 */

.dropdown {
  /* Size & position */
  position: relative;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  padding: 6px 8px 7px;
  user-select: none;

  /* Styles */
  background: $col-septenary;
  border-radius: $global-radius;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
  color: #666;
  font-family: $regular-font;
  font-size: 11px;

  &:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -3px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #1183c4 transparent;
  }

  .dropdown__list {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;

    /* Styles */
    background: $col-septenary;
    border-radius: 0 0 $global-radius $global-radius;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;

    li {
      transition: all 0.3s ease-out;

      a {
        display: block;
        text-decoration: none;
        color: #333;
        padding: 10px 5px;
        transition: all 0.3s ease-out;
        border-bottom: 1px solid #e6e8ea;
      }

      &:last-of-type a {
        border: none;
      }

      /* Hover state */
      &:hover {
        background: #efefef;
      }
    }
  }

  /* Active state */
  &.active {
    border-radius: $global-radius $global-radius 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;

    &:after {
      border-color: #82d1ff transparent;
    }

    .dropdown__list {
      border-bottom: 1px solid rgba(0,0,0,0.2);
      max-height: 400px;
    }
  }
}


.dropdown:focus,
.dropdown:active {
  border-radius: 5px 5px 0 0;
  background: #4cbeff;
  box-shadow: none;
  border-bottom: none;
  color: white;
  z-index: 101;

  &::after {
    border-color: #82d1ff transparent;    
  }

  .dropdown__list {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
  }
}