.form-field {
  display: block;
  position: relative;
  border-radius: $global-radius;
  outline: none;
  border: 1px solid #e1e1e1;
  background-color: #f7f7f7;
  padding: 0 6px 0;

  @include font(11px, 21px);
  color: #666666;
}