.icon-button {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 11px 15px;
  border-radius: $global-radius;
  color: $col-septenary;
  font-family: $semibold-font;
  text-decoration: none;

  @include font(13px, 16px);
  @include clearfix;

  i {
    position: relative;
    float: left;
    height: 16px;
  }

  span {
    position: relative;
    margin-left: 10px;
  }

  @include media(">=md") {
    min-width: 130px;
    @include font(18px, 16px);
  }

  @include media("<=md") {
    height: 50px;
    @include font(18px, 28px);
  }

  @include media("<=sm") {
    text-align: center;
    height: 60px;
    @include font(13px, 16px);

    i {
      float: none;
    }

    span {
      margin-left: 0;
      display: block;
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      left: 0;
    }
  }
}

.icon-button--one {
  background: #017bc3;
}

.icon-button--two {
  background: #00ac51;

  @include media("<=md", ">=sm") {
    i {
      top: 4px;
    }
  }
}

.icon-button--three {
  background: #bcd631;

  @include media("<=md", ">=sm") {
    i {
      top: 2px;
    }
  }
}

.icon-button--four {
  background: #ee4a9a;

  @include media("<=md", ">=sm") {
    i {
      top: 1px;
    }
  }

  @include media("<sm") {
    i {
      position: relative;
      top: 5px;
    }
  }
}