/* Main menu */

.main-menu-wrapper {
  @include media("<=md") {
    padding: 0;
  }
}

.main-menu {
  position: relative;
  display: block;
  font-family: $semibold-font;
  margin-bottom: 12px;

  @extend %no-select;
  @extend %inline-list;

  li {
    @extend %inline-list-item;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  @include media("<=md") {
    li {
      width: 25%;
      
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    .icon-button {
      border-radius: 0;
    }
  }
}

@include hover-state {
  .main-menu {
    a {
      @include link-hover;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}