/* Main menu */

.main-menu {
  position: relative;
  display: block;
  font-family: $semibold-font;
  padding: 2rem 3rem;

  @extend %no-select;
  @extend %inline-list;

  li {
    @extend %inline-list-item;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  a {
    color: $col-septenary;
    font-size: 1.2rem;
    text-decoration: none;
  }
}

@include hover-state {
  .main-menu {
    a {
      @include link-hover;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}