.minicard {
  position: relative;

  @include clearfix;

  &:not(:first-of-type) {
    padding-top: 24px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 28px;
  }
}

.minicard__details {
  position: relative;
}

.minicard__image {
  background: #cccccc;
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 90%;
}

.minicard__details {
  @include font(12px, 18px);

  & > * {
    display: block;
  }
}

.minicard__title {
  margin: 0;
  @include font(13px, 18px);
}

.minicard__text-2 {
  font-weight: 700;
}

.minicard__price {
  @include font(15px, 25px);
  font-weight: 700;
}

.minicard__link {
  color: #007ac2;
  display: inline-block;
}