/* Custom radio button */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $col-septenary;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #cccccc;
    border: 1px solid #b3b3b3;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
}
[type="radio"]:checked + label:after {
    border-color: #3fa7e5;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3fa7e5+1,027bc3+100 */
background: #3fa7e5; /* Old browsers */
background: -moz-linear-gradient(top, #3fa7e5 1%, #027bc3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #3fa7e5 1%,#027bc3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #3fa7e5 1%,#027bc3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa7e5', endColorstr='#027bc3',GradientType=0 ); /* IE6-9 */
}