.section {
  position: relative;
}

.section--main {
  background: #ffffff;
  padding-top: 25px;
  padding-bottom: 20px;
}

.section--sub {
  background: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 40px;
}