/* Layout */
.l-page {
  @extend %flex-container;
  
  position: relative;

  @include media("<md") {
    flex-direction: column;
  }
}
.l-main {
  position: relative;
  width: 100%;
}

.l-header {
  position: relative;
  background: $col-primary;
  color: $col-septenary;
}

.l-footer {
  position: relative;
  min-height: 530px;
  font-family: $regular-font;
  @include font(14px, 24px);
  color: #cccccc;
  background: #333333;
  text-transform: uppercase;

  @extend %flex-container;
}