/* Layout */
.l-page {
  @extend %flex-container;
  
  align-items: stretch;
  position: relative;
  min-height: 90vh;

  @include media("<md") {
    flex-direction: column;

    .l-main,
    .l-sidebar {
      width: 100%;
    }

    .l-sidebar {
      height: 50vh;
    }
  }
}
.l-main {
  width: 70%;
  padding: 1rem;
  padding-bottom: 3rem;
}

.l-sidebar {
  width: 30%;
  background: lighten($col-quaternary, 10%);
  color: $col-septenary;
  font-family: $semibold-font;
  overflow: hidden;
}

.l-main,
.l-sidebar {
  position: relative;
  min-height: 100%;
  text-align: center;
}

.l-header {
  position: relative;
  background: $col-primary;
  color: $col-septenary;
}

.l-footer {
  position: relative;
  padding: 3rem;
  text-align: center;
  font-family: $semibold-font;
  color: $col-septenary;
  background: lighten($col-quaternary, 50%);
}